@font-face{
    font-family:'Fira Sans';
    src:
    local("Fira Sans Light"),
    url("../fonts/FiraSans-Light.eot") format("embedded-opentype"),
    url("../fonts/FiraSans-Light.woff") format("woff2"),
    url("../fonts/FiraSans-Light.ttf") format("truetype"),
    url("../fonts/FiraSansOT-Light.otf") format("opentype"),
    ;
}

@font-face{
    font-family:'Fira Mono';
    src:
    local("Fira Mono Regular"),
    url("../fonts/FiraMono-Regular.eot") format("embedded-opentype"),
    url("../fonts/FiraMono-Regular.woff") format("woff"),
    url("../fonts/FiraMono-Regular.woff2") format("woff"),
    url("../fonts/FiraMono-Regular.ttf") format("truetype");
}

#map .btn-group{
    background-color:transparent !important;
}

#map{
    height:500px;
    border:3px solid #cdced0;
    background-color:#e4e6e9;
}
