@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
$font-sans-serif: "Fira Code", monospace, Helvetica, Arial, sans-serif;
$myfont-family: "Fira Code", monospace;

$font-default: $myfont-family;
