<%- include("./partials/header") %>
<div class="ui center aligned segment masthead"  id="cover">
    <div class="ui center aligned text container">
        <h1 class="ui header library">Here Maps: BITSians</h1>
        <p class="pretty">A Load Balancer for Medical Faciliities</p><br>
        <a href="#desc" class="ui huge green download button">
            Get Started
          </a>
    </div>
</div>
<div class="ui text container">

    <h2 class="ui icon header" id="desc">
        <a><i class="user md icon"></i></a>
        <div class="content">
            Description
          <div class="sub header">Here Maps: BITSians is a load balancing project for medical facilities and health care units using HERE Maps APIs. HERE Map API provides accurate, comprehensive and highly interactive maps and is the go-to destination for location services for any need, from public sector and infrastructure to healthcare, from transportation and logistics to media.</div>
        </div>
      </h2>
      <hr>
    <h2 class="ui icon header">
            <a><i class="hospital icon"></i></a>
            <div class="content">
                Application
              <div class="sub header">The project includes a dynamic map embedded as a part of the web application. The project aims at providing most efficient and effective usage of available medical facilities, without adding any extra burden to any specific unit(s). Not only does it provide data on number of beds and ventilators available, but also maps their utilization values.
                This makes it very convenient for the patient to decide on which hospital to choose. The web application is equipped with multiple features like looking for emergency services, dynamic routing, discovering medical units, and what not.</div>
            </div>
    </h2>
    <hr>
    <h2 class="ui icon header">
        <a><i class="jenkins icon"></i></a>
        <div class="content">
            Assistant Macro
          <div class="sub header">Also, the application is equipped with an AI based bot to guide the user through. For future releases, developers are planning to shift from dynamic to realtime database in order to receive real time updates from various healthcare and medical units on data concerning bed numbers and its timely utilization values.</div>
        </div>
      </h2>
      <hr>
</div>

<%- include("./partials/footer") %>