<%- include("./partials/header") %>
<div class=" ui main text container">
  <br>
        <h1 class="ui center aligned header">A note from developers</h1>
        <p>We are just some random teens interested in UI/UX Designs and Building web apps with beautiful interface.</p>
        <br><hr>
        <div class="ui divided items">
            <div class="item">

              <div class="content">
                <a class="header">Sudhanshu Mohan Kashyap</a>
                <div class="ui small circular left floated image">
                    <img src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-1/c208.0.240.240a/p240x240/48375500_518544835316886_3689285901201965056_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_ohc=1xO8ji0ErDEAX-J6aYL&_nc_ht=scontent.fagr1-1.fna&oh=32a0bb05ab76c624723913b685ba2c36&oe=5F18E01C">
                  </div>
                <div class="meta">
                  <span class="dark">Electrical & Electronics Major at BITS Pilani</span>
                </div>
                <div class="description">
                <p><i>"I am mainly interested in building beautiful UI/UX Interfaces."</i>
                    I started out as cybersecurity enthusiast but later got interested in web development. Since then i am constantly developing and deploying webapps.
                </p>
                </div>
                <div class="extra">
                  <div class="ui label">Python</div>
                  <div class="ui label">Javascript</div>
                  <div class="ui label">NodeJS</div>
                  <div class="ui label">MongoDB</div>
                  
                                    
                  <div class="right floated">
                    <a href="https://github.com/mightyjoe781"><i class="large github icon"></i></a>
                    <a href="mailto:f20180319@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                    <a href="https://www.facebook.com/sudhanshu.mohan.smk"><i class="large facebook icon"></i></a>
                    <a href="https://www.linkedin.com/in/sudhanshu-mohan-kashyap-60458518a/"><i class="large linkedin alternate icon "></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="item">
                <div class="content">
                  <a class="header">Prashant Ramesh Jha</a>
                  <div class="ui small circular right floated image">
                    <img src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-1/p240x240/48387814_100321644365933_2165336255091441664_n.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_ohc=NcxsUqaFET4AX90iY-l&_nc_ht=scontent.fagr1-1.fna&_nc_tp=6&oh=fd4afbfd49b893c5fc667ac6c430e4fc&oe=5F1C27F5">
                  </div>
                  <div class="meta">
                    <span class="dark">Electronics & Communications Major at BITS Pilani</span>
                  </div>
                  <div class="description">
                  <p><i>"I am an innovator, always looking forward to build scalable solutions."</i>
                      Started with web applications, but now looking forward to software development. Solving problems is my passion, not hobby.
                  </p>
                  </div>
                  <div class="extra">
                    <div class="ui label">Python</div>
                    <div class="ui label">C++</div>
                    <div class="ui label">HTML</div>
                    <div class="ui label">CSS</div>
                    <div class="ui label">Javascript</div>
                    <div class="ui label">PHP</div>
                <div class="right floated">
                <a href="https://github.com/pjflux2001"><i class="large github icon"></i></a>
                      <a href="mailto:f20180332@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                      <a href="https://www.facebook.com/pj.flux"><i class="large facebook icon"></i></a>
                      <a href="https://www.linkedin.com/in/prashant-jha-22b1671a5/"><i class="large linkedin alternate icon "></i></a>
                </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<%- include("./partials/footer") %>