.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.custom-modal-style {
  position: inherit;
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
.deliveryclass {
  height: 200px;
  width: 200px;
}
#card {
  height: 400px;
  width: 350px;
  background-color: #fce8ff;
}
.cardimg {
  position: relative;
  left: 177px;
  top: -264px;
}
