
#mapContainer > div > div:nth-child(0) > div > div {
	width:99% !important;
}

.button {
	margin:0.25em 0.25em 0 0!important;
}

@media only screen and (min-width: 1200px){
#homepage-container{
    width: 1250px !important;
    margin-left: auto!important;
    margin-right: auto!important;
}
}
@font-face {
font-family: "FontAwesome";
src: url("fonts/fontawesome-webfont.eot");
}
/* CSS FOR DARK MODE */
@media (prefers-color-scheme: dark) {
    /* all your styles for dark mode here */
}
/* SOME OTHER CSS */
.hamburger{
	display:none
}


/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }

	.hamburger {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 9px;
		top: 13px;
		cursor: pointer;
		display: block;
	}
	.hamburger 	span {
		display: block;
		height: 3px;
		background: #000;
		margin: 0 0 3px;
	}
	.hamburger:hover {
		-moz-opacity: 1;
	    -khtml-opacity: 1;
	    -webkit-opacity: 1;
	    opacity: 1;
	    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	    filter: alpha(opacity=100);
	    -moz-transition-duration: .2s;
	    -webkit-transition-duration: .2s;
	    -o-transition-duration: .2s;
	    transition-duration: .2s;
	}
	.hamburger.active {

	}
	.hamburger.active .hamburger-bun {
		margin: 0;
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
		-o-transform-origin: center center;
		transform-origin: center center;
	}

	.hamburger.active .hamburger-bun:first-child {
		-webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	    -webkit-transition: all .2s ease;
	    -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	    -o-transition: all .2s ease;
	    transition: all .2s ease;
	    margin-top: 3px;
	}
	.hamburger.active .hamburger-bun:last-child {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transition: all .2s ease-out;
		-moz-transition: all .2s ease-out;
		-o-transition: all .2s ease-out;
		transition: all .2s ease-out;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		margin-top: -3px;
	}

	.hamburger.active .hamburger-patty {
		display: none;
	}

	.ui.stackable.menu .item:not(.header ){
		display:none;
	}

	.ui.stackable.menu.open .item{
		display:block;
	}
body > div > div.ui.fluid.two.column.centered.grid.menu{
    display:none;
  }
	.ui.stackable.menu.open {
		height:inherit
	}
}




/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

/* Fix inverted menu dropdowns */
.ui.menu.inverted .ui.dropdown .menu.inverted>.item{
	background: #1b1c1d;
	color:white;
}
.ui.menu.inverted .dropdown.item .menu {
	background: #1b1c1d;
	color:white;
}
.ui.menu.inverted .ui.dropdown .menu>.item:hover {
    color: rgba(0,0,0,.05)!important;
    cursor:pointer;
    cursor:'hand';
    background: rgba(0,0,0,.95)!important;
}

#status{
	text-shadow: 2.5px 2.5px 10px red;
	letter-spacing: 2.5px;
	word-spacing: 2.5px;
}
body > div.ui.center.aligned.segment.masthead > div > h1{
	font-size: 3em;
	font-weight: 800;
	color: antiquewhite;
}
.pretty {
	font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
	color: aliceblue;

}
.library {
	color: antiquewhite;
    display: block;
    font-size: 1.75em;
    font-weight: bold;
}
.masthead{

	height: 55vh;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 600px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#cover{
	background-image: url('https://wallpaperplay.com/walls/full/9/5/e/13971.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

