        <script src="design.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>

        <script>
            //watson addon assitant (build incomplete)
        window.watsonAssistantChatOptions = {
        integrationID: "5e79a775-134a-4d7c-a0f1-9f70133207ac", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "ff546963-32f2-41c0-8f8f-5f76b6340b62", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
            document.head.appendChild(t);
        });
        </script>
    </body>
</html>