<!DOCTYPE html>
<html lang= "en">
    <head>
        <title>
        Here Maps : BITSians
        </title>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />
        <script src="creds.js"></script>
         <!-- new css -->
	    <!-- semantic ui config-->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
        <link id="theme" rel="stylesheet" type="text/css" href="light-theme.css" />
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="ui pointing menu stackable">
            <a href="/" class="item header">Home</a>
            <a href="/about" class="item">About</a>
            <a href="/technology" class="item">Technology</a>
            <a href="/contact" class="item">Contact</a>
            <div class="ui fluid two column centered grid menu">
                <span class="fluid item" id="status">Here Maps : BITSians</span>
            </div>
            <a class="item" id="theme-toggle">Dark Mode</a> 
            <div class="hamburger">
                <span class="hamburger-bun"></span>
                <span class="hamburger-patty"></span>
                <span class="hamburger-bun"></span>
            </div>
        </div>